[package]
name = "svm-scale-rs"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true
publish = false

[dependencies]
libsvm-rs = { workspace = true }
clap = { workspace = true }
